.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  /* grid: 50px / 213px auto auto auto auto; */
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-columns: 213px 1fr 1fr 1fr 1fr;
  /* 内部子盒子之间的距离是多少 */
  /* grid-gap: 10px; */
  /* 设置内部的盒子到body的边距是多少 */
  /* padding: 10px; */
  /* 最下面盒子的高度 */
  /* grid-auto-rows: 643px; */
  background-image: url(http://202.119.249.152:8080/resource/App_3069cb5da25daed008faa0ff6d84a5fb/dist/assets/background.09b3a21a.jpg);
  /* background-color: aqua; */
  margin: 0;
  overflow: hidden;
  /* overflow:scroll; */
}
.grid-container .header{
  background-color: rgba(0, 0, 0, 0.42);
  text-align: center;
  font-size: 30px;
}
.grid-container .menu {
  background-color: rgb(59, 73, 102);
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
.grid-container .main {
  background-color: rgba(0, 0, 0, 0.42);
  /* background-color:lightblue; */
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
.header {
  grid-column-start: 1;
  grid-column-end: 6;
}
.main {
  background-color: rgb(255, 255, 255);
  grid-column-start: 2;
  grid-column-end: 6;
  /* grid-row-start: 2;
  grid-row-end:3; */
}
.about,.home,.list,.environment,.thirty{
  text-align: left;
  text-decoration: none ;
}
.about:hover{ background-color:rgb(255, 121, 0);}
.home:hover{ background-color:rgb(255, 121, 0);}  
.list:hover{ background-color:rgb(255, 121, 0);}  
.environment:hover{ background-color:rgb(255, 121, 0);}  
.thirty:hover{ background-color:rgb(255, 121, 0);}  
.img{width: 20px;height: 20px;  }
